---
blog: en
title: On the way (2013)
date: 2013-07-02
tags: himalaya, life, malaysia, on-the-way, samui, travel, thailand
---

.container-fluid
  .row
    - i = 0
    - {"https://farm9.staticflickr.com/8129/30142490262_3a9a62e7f7_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8597/30142492022_4dd111e0d6_z_d.jpg" => "",
      "https://farm8.staticflickr.com/7505/29627982983_8ef770056d_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5660/30222887726_a5d5bf5001_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5650/29628018183_c1e575a7c8_z_d.jpg" => "",
      "https://farm8.staticflickr.com/7558/30257861725_e4ceb2b897_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5505/29628029933_971920aa31_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8703/30257860335_b85e37e95a_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5683/29628029193_c32c179a21_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5481/30257859265_4259974d47_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5758/29628028313_96e2da2a5b_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5595/30257858025_86bce4ac61_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8419/29960959420_57e53ef094_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5507/30257857235_1b4b15a2db_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8662/29960958560_c5bec02934_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5737/29628026913_baceac288e_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8639/30142552042_921aba0f2d_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5765/29628022573_89b0f9cee0_z_d.jpg" => "",
      "https://farm8.staticflickr.com/7771/30142540572_c861266f54_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8415/30257765075_57039af002_z_d.jpg" => "",
      }.to_a.shuffle.to_h.each do |src, alt|
      - i = i + 1
      = '^^^' if i == 4
      = partial 'partials/flickr_card', locals: {src: src, alt: alt}

