---
blog: en
title: "My Montenegrin travel (2014)"
date: 2014-07-01
tags: becici, budva, bosnia-and-herzegovina, kotor, life, montenegro, podgorica, tivat, travel, trebinje
---

.container-fluid
  .row
    - i = 0
    - {"https://farm6.staticflickr.com/5464/29631893683_091db41614_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8408/30176480961_134ddbd8bd_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8665/29631898043_09820a5b8c_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5596/29631898883_b4f6d869b6_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5614/30261741475_b4323c9998_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5321/30261744265_ec8e123d1b_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8558/29631060694_b81a233197_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8278/30261746475_91fcac86d0_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5682/29631063304_9c535ac0fc_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5563/30261749535_01d9ee41ba_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8136/29631068204_d16e613b70_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8618/30261754615_293f16a7ca_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8647/29631074674_848114cef9_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8270/30261758045_da6f129c8d_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5708/29631077504_b64081deb6_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5591/30261760075_7c0035806f_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8278/30261760965_e7d280086a_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5568/29631080734_cd71cc781c_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5442/30261762325_acafe9b84d_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5824/29631082204_675e9631a6_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8549/30261763955_8477b8bce1_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5510/29631929163_1bc352e9e5_z_d.jpg" => "",
      "https://farm8.staticflickr.com/7521/30176507601_0d76b58dd4_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8552/29631933683_ae4fd95fa4_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5473/30176510841_d72f5d3399_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8663/29631935993_3bfe84387f_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5542/30176513101_6c0e0b674c_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5818/29631939263_3af94be43f_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8134/30176515221_465dfa0a06_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8614/29631942123_303db4f53f_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5812/29631944443_5600e09591_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5498/30176518301_bb9a9349dd_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5478/29631946403_224af4c6f1_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8275/29631947303_e138069b76_z_d.jpg" => "",
      "https://farm8.staticflickr.com/7475/29631948573_370ca7dfd8_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8130/29631952103_18ec78500a_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5450/30261778255_e28225668b_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5327/30261778465_41197fc4e3_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8567/29965039040_c03d18e6eb_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8418/30261779375_a6c6ecd312_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5485/30146280002_bbc0957208_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8675/30261780135_5890d290b8_z_d.jpg" => "",
      "https://farm8.staticflickr.com/7557/30146281902_aec157263b_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5812/30261781155_46c3936517_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5640/30146284022_57778b9c86_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8140/30261781745_2bc1d1405e_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5649/30261782025_eb318c0bef_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5584/30146286812_62cb325db4_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5793/30261782995_75c0d30e7a_z_d.jpg" => "",
      "https://farm8.staticflickr.com/7521/30146288832_4f4aab8c1f_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8132/30261783625_71de4f7184_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5709/30146290742_4c41151f1a_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8419/30261784245_0bb34e5f4e_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5608/30261784635_43783165c7_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8649/30146292312_e96f8eb378_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5778/30261784955_52cd3cdb16_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5328/30146293412_cafef66a3a_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5689/30261785405_4a654b91cf_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5502/30261785645_fb6f102cce_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5504/30146295522_0be934a2f1_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8754/30261786135_d4a45ec54a_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5708/30146297462_11c8edd39a_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8620/30261786835_cd2c78a652_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8549/30261787305_61df8a0ba8_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5791/30261788055_ba17e42167_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8415/30146300212_28b5792cda_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5443/30146300582_2de72e4f4f_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5638/30146301082_acc37d7550_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5772/29631126924_9ec87e9708_z_d.jpg" => "",
      "https://farm8.staticflickr.com/7576/29965048020_05e77e6db4_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5494/29631128334_fc674c33f8_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8280/29965050180_511f45c829_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5479/29631130204_fe7b73698f_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5757/29965052530_63de553792_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5796/29631131584_6bfe98ccd7_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8560/30176478721_7691e0cabd_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5655/29965054060_f3471cccd8_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5498/30176557401_502f22e0d3_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5350/29965055090_430d6b63c8_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8134/30176558421_65ec09d259_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8716/30176558781_0ded85b688_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8556/29965057340_0db11f213b_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8621/30176560701_a522243843_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8129/30176561181_e0460fd1a3_z_d.jpg" => "",
      "https://farm8.staticflickr.com/7514/30176561721_ef16544569_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8420/30176563241_70ee5facca_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8678/30176564031_37fe224111_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8623/30226834566_43a0c032b2_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8688/30176565981_da59567369_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8726/30226835476_f27b52797f_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8559/30226835986_123af3e327_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8746/30176568861_df0ab96770_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8741/30226836976_4ba5d661e3_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5588/30176571091_3c0320ff4b_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5539/30226838176_d804010216_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5597/29631143044_2aaa312075_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8414/30176574291_34f559d63c_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5727/29631144894_9108961632_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8556/30176576401_4fcc462e4f_z_d.jpg" => "",
      "https://farm8.staticflickr.com/7464/29631896873_907787c14e_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5756/29631146584_ed62718235_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5634/30226840196_a21c169222_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8566/29631147924_4f765e48da_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5442/30226841046_180bfe72f6_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5447/29631149254_25132d13c1_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5558/30226842316_4973301a64_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5334/30176581711_d19b81d68a_z_d.jpg" => "",
      "https://farm6.staticflickr.com/5674/30226843376_26895ed6a7_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8280/30176583621_eb9c0dba1d_z_d.jpg" => "",
      "https://farm9.staticflickr.com/8624/30226844686_93cdfd592f_z_d.jpg" => "",
      "https://farm8.staticflickr.com/7523/30176586261_630978ec2b_z_d.jpg" => "",
      }.to_a.shuffle.to_h.each do |src, alt|
      - i = i + 1
      = '^^^' if i == 4
      = partial 'partials/flickr_card', locals: {src: src, alt: alt}

