.articles{}

.article{
  margin-bottom: 2rem;

  > .meta{
    color: #BD4147;
  }

  > a.title{
    border-bottom: 0;
    display: inline-block;
    font-size: 1.5rem;
  }

  > .content{
    > p{
      margin: 0;
    }
  }
}

.pagination{
  text-align: center;
  width: 100%;

  a{
    border-color: transparent;

    i{
      font-size: 3rem;
    }
  }

}

span.tag a, #page-main span.tag a{
  border-bottom: 0;
  color: #FFF;
}

