---
blog: en
lang: en
title: "Flying above thai fields"
date: 2013-06-11
tags: life, travel, thailand
---


.img-card
  %a{href: "https://www.instagram.com/p/BGfNrBGga7b/"}
    %img.img-fluid.img-rounded{src: "http://65.media.tumblr.com/e30cee18486093a3dd2ca7448f367390/tumblr_o8kpfmeylk1u1p0uro1_1280.jpg", alt: "Thai fields"}
