---
blog: en
lang: en
title: "Sweet puppy Pinpin"
date: 2013-04-30
tags: life, travel, thailand
---

.img-card
  %a{href: "https://www.flickr.com/photos/144125783@N05/29627056844/"}
    %img.img-fluid.img-rounded{src: "https://farm9.staticflickr.com/8722/29627056844_9c17bb2f99_z_d.jpg", alt: "Sweet puppy Pinpin"}
