---
blog: en
lang: en
title: "On the Malaysian border"
date: 2013-04-12
tags: life, travel, malaysia
---

.img-card
  %a{href: "https://www.flickr.com/photos/144125783@N05/30257765075/"}
    %img.img-fluid.img-rounded{src: "https://farm9.staticflickr.com/8415/30257765075_57039af002_z_d.jpg", alt: "On the Malaysian border"}
